@import '../variables';

.auth {
    display: flex;

    justify-content: end;
    
    color: #fff;
    text-transform: uppercase;
    font-weight:bold;
    gap: 10px;
    margin-left: 10px;
    
    
    &__login {
        
    }
    &__register{

    }

    

    .button{
        padding: 5px 10px;
        display: block;
    }
    @media (max-width:$breakpoint-tablet){
        justify-content: center;
        margin-left: 0;
    }
    @media (max-width:500px){
        justify-content: space-around;
    }
}