@import '../variables';
.categories {
  ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    li {
      background-color: #f9f9f9;
      display: inline-block;
      overflow-wrap: break-word;
      padding: 13px 30px;
      border-radius: 30px;
      margin: 10px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
  @media (max-width:$breakpoint-laptop){
    ul{
      grid-template-columns: repeat(3,1fr);
    }
  }
  @media (max-width:$breakpoint-tablet){
    ul{
      grid-template-columns: repeat(2,1fr);
    }

  }
  @media (max-width:($breakpoint-mobileL + 75px)) {
    ul {
      grid-template-columns: 1fr;
      
    }
  }
}
